.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.movie-card {
  margin: 8px;
  border: #61dafb solid 2px;
  width: 80%;
}
.movie-card img {
  width: 100%;

}
